*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.subBody{
    background: radial-gradient(rgb(255, 255, 255), #bfd2dd);
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    

}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    /* display: inline-block; */
    list-style-type: none;
    color: rgb(133, 127, 127);
    border-bottom: 2px solid black;
        
}

nav ul li{
    display: inline-block;
    padding: 5px;
    margin-right: 10px;

}

nav ul li a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
a:hover{
    color: rgb(0, 0, 0);
}

.container{
    max-width: 1300px;
    margin:auto;
    padding:0px 25px;
}

hr{
    
    height: 3px;
    background-color: black;
}

.about{
    display: inline-block;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
    color: gray;
}
.col-1 h1{
    font-size: 30px;
    font-weight: bold;
    
}
.col-1 img{
    min-width: 100%;
    padding-left: 100px;
    padding-right: 25px;
}
.title{
    font-size: 30px;
    font-weight: bold;
    color: gray;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    border-bottom: 3px dotted black;
    max-width: 250px;
}

.empty_message{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: rgb(78, 76, 76);
}

.header{
    background: radial-gradient(rgb(255, 255, 255), #bfc9dd);
}
.form{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
.form fieldset{
    padding: 20px;
    align-items: center;
    
}
.form fieldset input{
    min-width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    
    
}
.form fieldset input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    border-color: rgb(12, 12, 151);
    
}
.btn{
    
    background-color: rgb(61, 61, 170);
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 15px;
    margin:5px;
    margin-right: 20px;
    transition: background-color 0.5s;
    outline: none;
}
#clear-cart-button{
    background-color: rgb(77, 184, 125);
    width: 200px;
    height: 30px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    transition: background-color 0.5s;
    outline: none;
}
.add-to-cart-button{
    
    background-color: rgb(155, 63, 63);
    width: 100px;
    height: 25px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    transition: background-color 0.5s;
    outline: none;
}
.remove-from-store-button{
    
    background-color: rgb(70, 125, 170);
    width: 150px;
    height: 25px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    transition: background-color 0.5s;
    outline: none;
}

.btn:hover{
    border: 2px solid black;
    color: black;
    background-color: rgb(201, 197, 212);
}
.buttons{
    margin-top: 20px;
}

#list{
    text-align: center;
}
#shop_item_holder{
    margin:40px;
}

.photo_design{

    width: 200px;
    border: 2px solid black;

}

.shop-item-image{
    flex-basis: 50%;
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

.shop-item-name{
    font-weight: bold;
}

.shop-item-description{
    font-weight: bold;
    display: none;
}

.shop-item-price{
    font-weight: bold;
}
.add-product{
    margin-top: 100px;
    
    background: radial-gradient(rgb(255, 255, 255), #ddbfbf);
}

.cart_items_standard_width{
    width: 150px;
}


.cart{
    background: radial-gradient(rgb(255, 255, 255), #ddbfbf);
    
    border: 2px solid black;
    padding: 20px;
}


.cart_items_design{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.cart_items_design_heading{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}



.cart_item_quantity{
    width: 70px;
    min-width: 40px;
    padding: 5px;
    /* margin-bottom: 5px; */
    border: none;
    border-bottom: 1px solid black;
}

.cart_item_quantity:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-color: rgb(12, 12, 151);
}

.cart_item_photo{
    height: 100px;
}

.single_product_img{
    width: 50%;
}

#single_product_View{
    border: 5px solid black;
}

.backBtn{
    margin-top: 20px;
    width: 200px;
    font-size: 15px;

    
}

/* small screen design */

@media  (max-width: 800px){
    body{
        text-align: center;
    }
    .form{
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .form fieldset{
        padding: 10px;
        align-items: center;
        
    }
    .form fieldset input{
        min-width: 200px;
        padding: 5px;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid black;
        
    }
    #image_holder{
        margin:10px;
    }
    .photo_design{

        width: 100px;
        border: 2px solid black;
    
    }
    .bla{
        flex-basis: 100%;
        min-width: 100px;
        max-width: 200px;
        padding: 10px;
    }
    #image_title{
        display: none;
    }

    
    .cart_item_photo{
        display: none;
    }

    .cart_items_design_heading h2 {
        font-size: 15px;
        
    }
    .cart_items_standard_width{
        width: 70px;
        font-size: 15px;
    }
    .cart_items_design{
        
        margin-bottom: 3px;
        margin-top: 3px;
        margin-left: 10px;
        margin-right: 10px;
    }


}